#header{
  height:7vh;
  line-height:7vh;
  margin:auto;
}

body{
  text-align:center;
  line-height:4vh;
}

#maincontent{
  width:80vw;
  margin:auto;
}

#address-form{
  text-align:left;
  margin:auto;
  width:fit-content;
}

#officials-container{
  display:flex;
}

article{
  height:30vh;
  width:20vw;
  display:flex;
  flex-direction:column;
}